runs-on: self-hosted
image: node:16.0.0
stages:
 - build
 - test

install_dependencies:
 stage: build
#tags:
 # - dell
 script: yarn install
 artifacts:
   paths:
     - node_modules
 cache:
   key:
     files:
       - yarn.lock
   paths:
     - node_modules

run_tests:
 stage: test
 runs-on: self-hosted
# tags:
#  - dell
 script: CI=true yarn test

run_linter:
  stage: test
#  tags:
#  - dell
  runs-on: self-hosted
  script:
    - yarn add --dev eslint@8.22.0
    - yarn run eslint src/**.js
