image: node:16.0.0
stages:
 - build
 - test

install_dependencies:
 stage: build
 tags:
  - dell
 script: yarn install
 artifacts:
   paths:
     - node_modules
 cache:
   key:
     files:
       - yarn.lock
   paths:
     - node_modules

run_tests:
 stage: test
 tags:
  - dell
 script: CI=true yarn test

run_linter:
  stage: test
  tags:
  - dell
  script:
    - yarn add --dev eslint@7.11.0
    - yarn run eslint src/**.js
